.controls {
  $height: rem-calc(236);
  $padding: rem-calc(8);

  display: flex;
  gap: rem-calc(8);
  width: rem-calc(130);
  height: $height;
  border-radius: rem-calc(10);
  background-color: #fff;
  padding: $padding;

  .actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: rem-calc(8);
    height: 100%;

    .button {
      flex: 1;
      background-color: #40f;
      color: #fff;
      font-size: rem-calc(32);
      font-weight: 600;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &.plusButton {
        border-radius: rem-calc(5) rem-calc(5) 0 0;
      }

      &.minusButton {
        border-radius: 0 0 rem-calc(5) rem-calc(5);
      }
    }
  }

  .segments {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    $totalSegments: 8;
    $gap: rem-calc(4);
    $totalGap: ($totalSegments - 1) * $gap;
    gap: $gap;

    .segment {
      height: math.div($height - $totalGap - $padding * 2, $totalSegments);
      border-radius: rem-calc(4);

      &.low {
        background: #32cd32;
      }

      &.medium {
        background-color: #ffa500;
      }

      &.high {
        background-color: #ff4500;
      }
    }
  }
}
